body{
    margin-top: 50px;
}

.todolist h1 {
    text-align: center;
}

ul {
    margin-bottom: 5px;
}

li {
    border: solid 1px;
    list-style: none;
    padding: 5px;
}

.contador {
    padding-left: 40px;

}

input{width: 100%;}